:root {
    --var-background: #1b1e25;
    --var-foreground: #cbdee3;
    --var-cursor: #cbdee3;

    --var-color0: #1b1e25;
    --var-color1: #5c758d;
    --var-color2: #6d92a9;
    --var-color3: #78b4c8;
    --var-color4: #9bada1;
    --var-color5: #87adc6;
    --var-color6: #8bc1d1;
    --var-color7: #cbdee3;
    --var-color8: #8e9b9e;
    --var-color9: #5c758d;
    --var-color10: #6d92a9;
    --var-color11: #78b4c8;
    --var-color12: #9bada1;
    --var-color13: #87adc6;
    --var-color14: #8bc1d1;
    --var-color15: #cbdee3;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--var-color0);
    color: var(--var-foreground);
    font-size: 10px;
}

* {
    font-family: 'Iosevka Custom', 'Space Mono', 'D2Coding', -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

#container {
    z-index: 9999;
    position: fixed;
    padding: 0 0px 0 0px;
    top: 35%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
    height: auto;
}

#header {
    z-index: 10;
    margin: 4px;
    padding: 8px 24px;
    border-left: 1px solid var(--var-color14);
}

#links {
    display: -moz-box;
    display: -webkit-box;
    width: 100%;
}

.linksbox {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;

    margin: 4px;
    padding: 8px 24px;
    border-left: 1px solid var(--var-color14);
}

.linksbox h3 {
    padding-bottom: 5px;
}

.linksbox a {
    display: block;
    text-decoration: none;
    font-weight: bold;
}

.linksbox a.cyan:hover {
    font-style: italic;
    text-decoration: underline;
}

.linksbox a:hover {
    font-style: italic;
    text-decoration: underline;
}

h3 {
    font-size: 13px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.form {
	margin-left: 15px;
	border: 1px solid var(--var-color15);
	padding: 10px;
}

.form > input:hover,
.form > input:active,
.form > input:focus {
	outline: none;
}

.color-search {
	color: var(--var-color6);
	padding: 0;
}

.color-link {
	color: var(--var-color3);
	padding: 0;
}

.cyan {
    color: #5c8cbc;
    padding: 0;
}

.color-tilde {
    color: var(--var-color2);
    padding: 0;
}

.pink {
    padding: 0;
    color: #8c6d94;
}

.red {
    padding: 0;
    color: #bf535f;
}
.gray {
    padding: 0;
    color: #b4b4b4;
}

.bold {
    font-weight: bold;
}

form {
    display: inline;
}

input {
    display: inline;
    background: none;
    display: inline;
    border: none;
    color: #fff;
    width: 70%;
    font-size: 14px;
}
